body {
  background: rgb(240, 241, 243);
}

h1 {
 padding: 0.5em;
 margin: 0;
}

h2 {
  margin-top: 0.25em;
}

h3{
  font-size: 20px
}



div {
  margin: 2rem 20rem;
  padding: 10 auto;
  background: rgb(158, 160, 224);
  border-radius: 8px;
}


.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-bottom: 15rem;
}

#footer {
  text-align: center;
  font-size: 18px;
  float:right; 
  margin-bottom: 1px;
  margin-right: 10px;
  color: rgb(10, 111, 226)
}

#header {
  text-align: center;
  font-size: 45px; 
  margin-bottom: 2px;
  color: aqua
}

#result-text {
  padding-left: 1.1rem;
  padding-bottom: 2rem;
}