body {
  background: rgb(240, 241, 243);
}

h1 {
 padding: 0.5em;
 margin: 0;
}

h2 {
  margin-top: 0.25em;
}

h3{
  font-size: 20px
}


.form-container {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  padding: 10 auto;
  background: rgb(59, 206, 206);
  border-radius: 8px;
  margin-bottom: 10px
}

.form {
  
  margin: 4rem auto;
}

#footer {
  text-align: center;
  font-size: 18px;
  margin-top: 75px;
  margin-bottom: 1px;
  margin-right: 10px;
  color: rgba(11, 66, 138, 0.856);
  
}

#header {
  text-align: center;
  font-size: 45px; 
  margin-bottom: 2px;
  padding-top: 5rem;
  color: rgb(21, 52, 230)
}

#result-text {
  padding-left: 1.1rem;
  padding-bottom: 2rem;
  text-align: center;
  color: rgb(64, 20, 221);
  font-weight: bolder
  
}

